<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Week8Assignment</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Week8Assignment.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index">Week8Assignment</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Book" asp-action="List">Books</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2026 - Week8Assignment -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
